/* Write your CSS here */
.list-element {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-width: 600px;
}
.pera {
  font-family: 'Roboto';
  font-size: 18px;
  color: #475569;
}
.button {
  border: none;
  cursor: pointer;
  outline: none;
  background: none;
}
.arrow {
  height: 20px;
  width: 20px;
}
